[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]
# we point to a particular commit because invoke might break retrocompatibility.
# if we update this ref we need to check that everything is still working
invoke = {git = "https://github.com/pyinvoke/invoke", ref = "a78fa6e037e538b19b2791c669ead5fcabad7951", editable = true}


[requires]

python_version = "3.6"
